/* ---------- Color Module Styles ----------- */

/* ---------- Unit Colour ----------- */
#ubc7-unit,
#preview-ubc7-unit {
	background-color: #002145;
}

/* ---------- Text ----------- */
.all-content {
  color: #222222;
}

/* ---------- Primary Colours ----------- */

.unit-content .primary {
  background-color: #002143;
}
.unit-content .secondary {
  background-color: #222223;
}

/* ---------- Headings ----------- */
.unit-content h1,
.unit-content .h1 {
  color: #0779bf;
}
.unit-content h2,
.unit-content .h2 {
  color: #e1e1e1;
}
.unit-content h3,
.unit-content .h3 {
  color: #d1d1d1;
}
.unit-content h4,
.unit-content .h4 {
  color: #e3e3e3;
}
.unit-content h5,
.unit-content .h5 {
  color: #d2d2d2;
}
.unit-content h6,
.unit-content .h6 {
  color: #e5e5e5;
}

/* ---------- Links ----------- */
.unit-content a,
.unit-content .link {
  color: #0779af;
}
.unit-content a:hover,
.unit-content a:focus,
.unit-content .link:hover,
.unit-content .link:focus {
  color: #2f5d7c;
}
.unit-content a:active,
.unit-content .link:active {
  color: #2f5d7d;
}