/**
 * @file
 * LESS variables for theme
 */


// MEDIA QUERIES AND GRIDS
// -------------------------
$grid-gutter-width: 15px;
$screen-md: 980px;
$container-large-desktop: (1170px + $grid-gutter-width);


// COLOURS
// -------------------------
$ubc-blue: #002145;
$ubc-grey: #2f5d7c;
$ubc-light-grey: #5e869f;
$ubc-lighter-grey: #98b2c3;
$ubc-silver-grey: #c3d0d8;
$ubc-silver: #d7e0e7;
$silver: #cfcfd0;


// GREYS
// -------------------------
$black: #000;
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-lighter: #eee;
$white: #fff;


// LOCAL TASKS
// -------------------------
