/**
 * @file
 * Placeholder
 */

 // VARIABLES
$mq-large-desktop-min: 1200px;
$mq-desktop-min: 980px;
$mq-mobile-max: 979px;
$menu-height-mobile: 50px;
$menu-height-desktop: 40px;
$menu-height-large-desktop: 45px;


@media screen and (max-width: $mq-mobile-max) {
  body.unit-area-is-sticky {
    padding-top: $menu-height-mobile;
  }

  #ubc7-unit.navigation-is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  body.unit-area-is-sticky #ubc7-unit-menu {
    position: fixed;
    top: $menu-height-mobile;
    width: 100%;
  }

  #ubc7-unit.navigation-is-sticky .btn-navbar {
    margin-right: $menu-height-desktop;
  }
}

@media screen and (min-width: $mq-desktop-min) {
  body.unit-menu-is-sticky {
    padding-top: $menu-height-desktop;
  }

  #ubc7-unit-menu.navigation-is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: $mq-desktop-min) and (min-width: $mq-large-desktop-min) {
  body.unit-menu-is-sticky {
    padding-top: $menu-height-large-desktop;
  }
}
