{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul class="breadcrumb expand" role="navigation" aria-labelledby="system-breadcrumb">
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a> <span class="divider">/</span>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endif %}
