#ubc7-global-menu,
#ubc7-header,
#ubc7-unit,
#ubc7-unit-menu,
#ubc7-footer {
  box-sizing: content-box;
  font-family: Arial, sans-serif !important
}

#ubc7-global-menu .container,
#ubc7-header .container,
#ubc7-unit .container,
#ubc7-unit-menu .container,
#ubc7-footer .container {
  padding: 0 20px
}

#ubc7-global-menu .container:before,
#ubc7-header .container:before,
#ubc7-unit .container:before,
#ubc7-unit-menu .container:before,
#ubc7-footer .container:before,
.row-fluid:before,
#ubc7-global-menu .container:after,
#ubc7-header .container:after,
#ubc7-unit .container:after,
#ubc7-unit-menu .container:after,
#ubc7-footer .container:after,
.row-fluid:after {
    content: " ";
    display: table;
}

#ubc7-global-menu .container:after,
#ubc7-header .container:after,
#ubc7-unit .container:after,
#ubc7-unit-menu .container:after,
#ubc7-footer .container:after,
.row-fluid:after {
    clear: both;
}

#ubc7-global-menu {
  background-color: #fff;
  box-shadow: inset 0 -60px 60px -60px #ccc
}

#ubc7-global-menu.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  -moz-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease;
  }

#ubc7-search {
  width: 100%;
  height: 90px;
  text-align: center;
  background-color: #d7e0e7
}

#ubc7-search-box {
  padding-top: 30px
}

#ubc7-search-box .form-search {
  margin: 0 0 20px
}

#ubc7-search-box input {
  box-sizing: content-box;
  width: 270px;
  height: 20px;
  padding: 4px 3px;
  color: #555;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border .2s linear, box-shadow .2s linear
}

#ubc7-search-box input,
#ubc7-global-menu .btn,
#ubc7-header .btn,
#ubc7-unit .btn,
#ubc7-unit-menu .btn,
#ubc7-footer .btn {
  display: inline-block;
  margin-bottom: 0;
  line-height: 20px;
  vertical-align: middle
}

#ubc7-global-menu .btn,
#ubc7-header .btn,
#ubc7-unit .btn,
#ubc7-unit-menu .btn,
#ubc7-footer .btn {
  padding: 4px 12px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  background-color: #002145;
  background-image: linear-gradient(180deg, #002145, #191938);
  background-image: -moz-linear-gradient(top, #002145, #191938);
  background-repeat: repeat-x;
  border: 1px solid #002145;
  border-radius: 0;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .2), 0 1px 2px rgba(0, 0, 0, .05);
  cursor: pointer;
  -webkit-filter: progid:dximagetransform.microsoft.gradient(startColorstr="#002145", endColorstr="#191938", GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr="#002145", endColorstr="#191938", GradientType=0);
  -webkit-filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

#ubc7-global-menu .btn:active,
#ubc7-header .btn:active,
#ubc7-unit .btn:active,
#ubc7-unit-menu .btn:active,
#ubc7-footer .btn:active,
#ubc7-global-menu .btn:hover,
#ubc7-header .btn:hover,
#ubc7-unit .btn:hover,
#ubc7-unit-menu .btn:hover,
#ubc7-footer .btn:hover {
  color: #fff;
  background-color: #2f5d7c;
  background-position: 0 -200px;
  border-color: #2f5d7c;
  transition: background-position .1s linear
}

#ubc7-global-header .row-fluid {
  padding-top: 10px;
  padding-bottom: 30px
}

#ubc7-global-header ul {
  box-sizing: content-box;
  margin: 0 0 10px;
}

#ubc7-global-header .reverse:before,
#ubc7-global-header .reverse:after {
    content: " ";
    display: table;
}

#ubc7-global-header .reverse:after {
    clear: both;
}

#ubc7-global-header li {
  display: block;
  float: left;
  width: 48%;
  height: 30px;
  margin: 10px 1% 0;
  line-height: 24px;
  border-bottom: 1px solid #d7e0e7
}

#ubc7-global-header a {
  color: #002145;
  font-size: 12px;
  text-decoration: none
}

#ubc7-global-header a:hover {
  text-decoration: underline
}

#ubc7-header {
  border-top: 3px solid #002145
}

.clf-theme-wb #ubc7-header {
  border-top: 3px solid #fff;
  background-color: #002145;
}

.clf-theme-gw #ubc7-header {
  border-top: 3px solid #2f5d7c;
}

.clf-theme-wg #ubc7-header {
  border-top: 3px solid #fff;
  background-color: #2f5d7c;
}

#ubc7-header .span1,
#ubc7-header .span9 {
  display: block;
  box-sizing: border-box;
  height: 95px;
  min-height: 30px
}

#ubc7-header .span1,
#ubc7-header .span2 {
  display: none
}

#ubc7-logo,
#ubc7-wordmark {
  height: 100%
}

#ubc7-global-utility-no-script,
#ubc7-global-utility button span,
#ubc7-logo,
#ubc7-okanagan-campus,
#ubc7-signature a,
#ubc7-vancouver-campus,
#ubc7-wordmark-block,
.ubc7-arrow {
  background-image: url(../../img/clf/ubc7-clf-sprite-blue.png);
  background-repeat: no-repeat;
}

.clf-theme-wg #ubc7-global-utility-no-script,
.clf-theme-wg #ubc7-global-utility button span,
.clf-theme-wg #ubc7-logo,
.clf-theme-wg #ubc7-okanagan-campus,
.clf-theme-wg #ubc7-signature a,
.clf-theme-wg #ubc7-vancouver-campus,
.clf-theme-wg #ubc7-wordmark-block,
.clf-theme-wg .ubc7-arrow,
.clf-theme-wb #ubc7-global-utility-no-script,
.clf-theme-wb #ubc7-global-utility button span,
.clf-theme-wb #ubc7-logo,
.clf-theme-wb #ubc7-okanagan-campus,
.clf-theme-wb #ubc7-signature a,
.clf-theme-wb #ubc7-vancouver-campus,
.clf-theme-wb #ubc7-wordmark-block,
.clf-theme-wb .ubc7-arrow {
  background-image: url(../../img/clf/ubc7-clf-sprite-white.png);
  background-repeat: no-repeat;
}

.clf-theme-gw #ubc7-global-utility-no-script,
.clf-theme-gw #ubc7-global-utility button span,
.clf-theme-gw #ubc7-logo,
.clf-theme-gw #ubc7-okanagan-campus,
.clf-theme-gw #ubc7-signature a,
.clf-theme-gw #ubc7-vancouver-campus,
.clf-theme-gw #ubc7-wordmark-block,
.clf-theme-gw .ubc7-arrow {
  background-image: url(../../img/clf/ubc7-clf-sprite-grey.png);
  background-repeat: no-repeat;
}

#ubc7-global-utility button,
#ubc7-logo a,
#ubc7-wordmark a {
  display: block;
  width: 100%;
  height: 100%
}

#ubc7-global-utility button span,
#ubc7-logo a,
#ubc7-signature a,
#ubc7-wordmark a,
.hide-text {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 200%
}

#ubc7-wordmark-block {
  position: relative;
  background-position: -2px -276px;
  background-size: auto;
  border-left: 0
}

#ubc7-wordmark {
  width: 70% !important;
  background: 0
}

#ubc7-wordmark a {
  height: 80%
}

#ubc7-global-utility button {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 44px;
  margin-right: 0;
  padding: 0;
  background: transparent;
  border: 0;
  box-shadow: 0 0;
  cursor: pointer
}

#ubc7-global-utility button span {
  background-color: #002145;
  background-position: -1229px -291px
}

.clf-theme-wg #ubc7-global-utility button span {
  background-position: -1229px -324px;
}

#ubc7-global-utility button span,
a#ubc7-global-utility-no-script {
  position: relative;
  top: -6px;
  display: block;
  width: 45px;
  height: 33px;
  cursor: pointer
}

.clf-theme-wg #ubc7-global-utility button span,
.clf-theme-wg a#ubc7-global-utility-no-script,
.clf-theme-wg #ubc7-global-utility button span.opened,
.clf-theme-wb #ubc7-global-utility button span,
.clf-theme-wb a#ubc7-global-utility-no-script,
.clf-theme-wb #ubc7-global-utility button span.opened {
  background-color: #fff;
}

.clf-theme-gw #ubc7-global-utility button span,
.clf-theme-gw a#ubc7-global-utility-no-script,
.clf-theme-gw #ubc7-global-utility button span.opened {
  background-color: #2f5d7c;
}

#ubc7-global-utility button span.opened {
  background-position: -1167px -54px
}

.clf-theme-wg #ubc7-global-utility button span.opened {
  background-position: -1167px -50px;
}

#ubc7-unit {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #002145
}

#ubc7-unit .span12 {
  position: relative;
}

#ubc7-unit .navbar {
  position: absolute;
  top: 0;
  right: 0
}

#ubc7-unit .btn-navbar {
  width: 32px;
  height: 24px;
  margin: -9px 0 0;
  padding: 11px 0 0 13px;
  background: #fff;
  border: 0
}

#ubc7-unit .btn-navbar.active,
#ubc7-unit .btn-navbar.disabled,
#ubc7-unit .btn-navbar:active,
#ubc7-unit .btn-navbar:hover,
#ubc7-unit .btn-navbar[disabled] {
  background: #fff;
  box-shadow: 1px 1px 1px #191938;
  -moz-box-shadow: 1px 1px 1px #191938;
  -webkit-box-shadow: inset 1px 1px 1px #191938;
}

#ubc7-unit .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background: #002145;
  border-radius: 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25)
}

#ubc7-unit .btn-navbar .icon-bar+.icon-bar {
  margin-top: 3px
}

#ubc7-unit-name {
  margin-top: 4px;
  margin-right: 55px;
  font-weight: 400;
  font-size: 12px
}

#ubc7-unit-name a,
#ubc7-unit-name a:hover {
  display: block;
  color: #fff !important;
  line-height: 20px;
  text-decoration: none !important
}

#ubc7-unit .ubc7-single-element a {
  margin-top: 16px
}

#ubc7-unit-identifier {
  overflow: hidden;
  font-size: 18px;
  letter-spacing: 1px;
  white-space: nowrap
}

#ubc7-unit-menu,
#ubc7-unit-menu .navbar-inner {
  overflow: visible;
  background: #fff
}

#ubc7-unit-menu .nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#ubc7-unit-navigation {
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
  box-shadow: 0 3px 6px #ccc
}

#ubc7-unit-menu .navbar-inner {
  background: #fff
}

#ubc7-unit-menu li {
  line-height: 20px;
  border-bottom: 1px solid #c3d0db
}

#ubc7-unit-menu .btn-group {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle
}

#ubc7-unit-menu .btn-group .btn {
  display: block;
  margin-right: 40px;
  padding-left: 20px;
  color: #002145;
  text-align: left;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #c3d0db
}

#ubc7-unit-menu .btn-group:hover .btn {
  color: #fff;
  background: #002145
}

#ubc7-unit-menu .dropdown .btn-group .btn,
#ubc7-unit-menu .dropdown .btn-group button {
  z-index: 1;
  box-sizing: border-box;
  height: 41px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
  background-image: none;
  border-radius: 0;
  box-shadow: 0 0 0 transparent
}

#ubc7-unit-menu .dropdown .btn-group a.btn {
  display: block;
  margin-right: 0;
  padding-left: 20px;
  text-align: left
}

#ubc7-unit-menu .dropdown .btn-group:hover button,
#ubc7-unit-menu .dropdown .btn-group button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 41px !important;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  border-left: 1px solid #c3d0db !important
}

#ubc7-unit-menu .dropdown .btn-group button:hover {
  background-color: #193056 !important
}

#ubc7-unit-menu .dropdown .btn-group button .ubc7-arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 0;
  margin-left: 11px;
  text-decoration: inherit;
  vertical-align: text-top;
  background-position: -1178px -261px !important
}

#ubc7-unit-menu .dropdown .btn-group.open button .ubc7-arrow {
  background-position: -1207px -261px !important
}

#ubc7-unit-menu .dropdown .btn-group.open:hover button .ubc7-arrow,
#ubc7-unit-menu .dropdown .btn-group:hover button .ubc7-arrow {
  background-position: -1178px -227px !important
}

#ubc7-unit-menu .nav-collapse .dropdown-menu {
  position: static;
  top: auto;
  left: auto;
  max-width: none;
  padding: 0;
  font-size: 14px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none
}

#ubc7-unit-menu .btn-group>.btn,
#ubc7-unit-menu .btn-group>.dropdown-menu {
  font-size: 14px
}

#ubc7-unit-menu .nav-collapse,
#ubc7-unit-menu .nav-collapse.collapse {
  height: 0;
  overflow: hidden;
}

#ubc7-unit-menu .nav-collapse .dropdown-menu a,
#ubc7-unit-menu .nav-collapse .nav>li>a {
  display: block;
  color: #002145;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  text-decoration: none
}

#ubc7-unit-menu .nav-collapse .nav>li>a {
  padding: 10px 20px
}

#ubc7-unit-menu .nav-collapse nav>li .dropdown-menu a {
  padding: 9px 25px 9px 35px
}

#ubc7-unit-menu .nav-collapse .dropdown-menu a:hover,
#ubc7-unit-menu .nav-collapse .nav>li>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #002145
}

#ubc7-unit-menu .nav>li.active>.btn-group,
#ubc7-unit-menu .nav>li.active>a {
  background: #d7e0e7;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, .125)
}

#ubc7-unit-menu .nav>li.active>.btn-group:hover,
#ubc7-unit-menu .nav>li.active>a:hover {
  color: #fff;
  background: #002145
}

#ubc7-global-footer {
  min-height: 100px;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  background-color: #002145
}

#ubc7-global-footer a {
  color: #fff;
  text-decoration: none
}

#ubc7-global-footer a:hover {
  color: #fff;
  text-decoration: underline
}

#ubc7-global-footer ul {
  margin-top: 0;
  margin-bottom: 0;
}

#ubc7-signature {
  box-sizing: border-box;
  height: 70px;
  padding-top: 20px
}

#ubc7-signature a {
  display: block;
  box-sizing: content-box;
  height: 100%;
  background-position: -2px -544px;
  background-size: auto
}

#ubc7-global-footer h3 {
  margin: 15px 0 5px;
  font-size: 16px
}

#ubc7-global-footer h3,
#ubc7-global-footer h4 {
  color: #fff;
  font-weight: 700;
  font-family: Arial, sans-serif !important;
  line-height: 30px
}

#ubc7-footer h4 {
  margin: 2px 0;
  font-size: 14px
}

#ubc7-minimal-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #002145
}

#ubc7-minimal-footer .span12 {
  padding: 22px 0;
  border-top: 1px solid #1f385f
}

#ubc7-minimal-footer ul {
  padding-left: 0;
  margin: 0;
}

#ubc7-minimal-footer li {
  display: inline-block;
  line-height: 24px
}

#ubc7-minimal-footer a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

#ubc7-minimal-footer a:hover {
  text-decoration: underline;
}

#ubc7-minimal-footer .divider {
  padding: 0 5px 0 3px;
  color: #ccc;
  font-size: 12px
}

#ubc7-unit-menu .nav-collapse .dropdown-menu a {
  background-color: #fff
}

#ubc7-unit-menu .nav-collapse .dropdown-menu a.active {
  background-color: none
}

#ubc7-unit-menu .nav-collapse .dropdown-menu a:hover {
  background-color: #002145
}

@media screen and (min-width:768px) {
  #ubc7-global-menu .container,
  #ubc7-header .container,
  #ubc7-unit .container,
  #ubc7-unit-menu .container,
  #ubc7-footer .container
  {
    width: 724px;
    margin: 0 auto
  }

  #ubc7-unit-menu .container {
    width: auto
  }

  #ubc7-global-header li {
    width: 23%
  }

  #ubc7-global-utility-no-script,
  #ubc7-global-utility button span {
    background-position: -1233px 7px
  }

  #ubc7-global-utility button span.opened {
    background-color: #002145;
    background-position: -1167px 7px
  }

  .clf-theme-wg #ubc7-global-utility button span {
    background-position: -1233px -50px;
  }

  .clf-theme-wg #ubc7-global-utility button span.opened {
    background-position: -1167px -50px;
  }

  #ubc7-global-footer .span5,
  #ubc7-global-footer .span6,
  #ubc7-global-footer .span7 {
    display: block;
    float: left;
    box-sizing: border-box
  }

  #ubc7-global-footer .span5 {
    width: 40.05524861878453%
  }

  #ubc7-global-footer .span6 {
    width: 48.61878453038674%
  }

  #ubc7-global-footer .ml,
  #ubc7-global-footer .span7 {
    margin-left: 2.7624309392265194%
  }

  #ubc7-global-footer .span7 {
    width: 57.18232044198895%
  }
}

@media screen and (min-width:960px) {
  #ubc7-global-menu .container,
  #ubc7-header .container,
  #ubc7-unit .container,
  #ubc7-unit-menu .container,
  #ubc7-footer .container {
    width: 928px;
    padding-top: 0;
    padding-right: 16px;
    padding-bottom: 0;
    padding-left: 16px;
  }

  .full-width  #ubc7-header .container {
    padding-right: 14px;
    padding-left: 14px;
    border-right: 1px solid #d7e0e7;
    border-left: 1px solid #d7e0e7
  }

  .clf-theme-wb.full-width  #ubc7-header .container {
    border-right: 1px solid #1f385f;
    border-left: 1px solid #1f385f
  }

  .clf-theme-wg.full-width  #ubc7-header .container {
    border-right: 1px solid #446d89;
    border-left: 1px solid #446d89
  }

  #ubc7-search .span8 {
    box-sizing: border-box;
    width: 65.81196581196582%;
    margin: 0 auto
  }

  #ubc7-header .span1,
  #ubc7-header .span9 {
    display: block;
    float: left;
    height: 95px
  }

  #ubc7-header .span1 {
    width: 6.382978723404255%;
    margin-left: 0
  }

  #ubc7-header .span9 {
    position: relative;
    width: 91.48936170212765%;
    margin-left: 2.127659574468085%;
    background-position: -72px -115px;
    border-left: 1px solid #d7e0e7
  }

  .clf-theme-wb #ubc7-header .span9 {
    border-left: 1px solid #1f385f
  }

  .clf-theme-wg #ubc7-header .span9 {
    border-left: 1px solid #446d89
  }

  #ubc7-logo {
    min-width: 95px;
    background-position: 11px -115px
  }

  #ubc7-wordmark {
    position: relative;
    width: 85% !important
  }

  #ubc7-global-utility button {
    width: 45px;
    margin-right: 13px
  }

  #ubc7-unit .navbar {
    display: none
  }

  #ubc7-unit-menu,
  #ubc7-unit-menu .navbar-inner {
    background: #e6e6e6
  }

  #ubc7-unit-navigation {
    margin-right: 0;
    margin-left: 0;
    box-shadow: none
  }

  #ubc7-unit-menu .navbar-inner {
    min-height: 32px;
    background-image: none;
    border: 0
  }

  #ubc7-unit-menu .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important
  }

  #ubc7-unit-menu.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    margin: 0
  }

  #ubc7-unit-menu.navbar .nav>li {
    float: left
  }

  #ubc7-unit-menu {
    display: block !important
  }

  #ubc7-unit-menu li {
    line-height: 20px;
    border-bottom-width: 0
  }

  #ubc7-unit-menu .btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle
  }

  #ubc7-unit-menu .btn-group:hover {
    background-color: #002145
  }

  #ubc7-unit-menu .btn-group .btn {
    display: block;
    margin-right: 40px;
    padding-left: 20px;
    color: #002145;
    text-align: left;
    background: transparent;
    border: 0;
    border-bottom: 0
  }

  #ubc7-unit-menu .dropdown .btn-group a.btn,
  #ubc7-unit-menu .dropdown .btn-group button {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 transparent
  }

  #ubc7-unit-menu .dropdown .btn-group:hover button,
  #ubc7-unit-menu .dropdown .btn-group button {
    position: relative;
    width: 24px;
    height: 22px !important;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
    border-left: 1px solid #c3d0db !important
  }

  #ubc7-unit-menu .dropdown .btn-group:hover button {
    height: 40px !important
  }

  #ubc7-unit-menu .btn-group a.btn {
    padding-right: 7px
  }

  #ubc7-unit-menu .dropdown .btn-group button .ubc7-arrow {
    margin-bottom: 6px;
    margin-left: 4px;
    vertical-align: initial
  }

  #ubc7-unit-menu .dropdown .btn-group:hover button {
    background-color: transparent !important
  }

  #ubc7-unit-menu .dropdown .btn-group:hover button .ubc7-arrow {
    margin-bottom: auto;
    vertical-align: text-top
  }

  #ubc7-unit-menu .nav-collapse .disclose__content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 160px
  }

  #ubc7-unit-menu .nav-collapse .dropdown-menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
  }

  #ubc7-unit-menu .nav-collapse .dropdown-menu li {
    float: none
  }

  #ubc7-unit-menu .is-open>.dropdown-menu {
    display: block
  }

  #ubc7-unit-menu .dropdown-menu li {
    border-bottom: 1px solid #d7e0e7
  }

  #ubc7-unit-menu .nav-collapse .dropdown-menu a,
  #ubc7-unit-menu .nav-collapse .nav>li>a {
    display: block;
    clear: both;
    padding: 3px 20px;
    color: #002145;
    font-weight: 400;
    white-space: nowrap
  }

  #ubc7-unit-menu .dropdown .btn-group a.btn {
    padding-left: 12px
  }

  #ubc7-unit-menu .nav-collapse .nav>li>a {
    padding: 10px;
    font-size: 14px;
    line-height: 20px
  }
}

@media screen and (min-width:1200px) {

  #ubc7-global-menu .container,
  #ubc7-header .container,
  #ubc7-unit .container,
  #ubc7-unit-menu .container,
  #ubc7-footer .container {
    width: 1200px
  }

  #ubc7-header .span1,
  #ubc7-header .span9 {
    height: 115px
  }

  #ubc7-header .span1 {
    max-width: 70px
  }

  #ubc7-header .span9 {
    width: 91.45299145299145%;
    background-position: -83px 14px
  }

  #ubc7-logo {
    min-width: 115px;
    margin-left: -15px;
    background-position: 32px 14px
  }

  #ubc7-global-utility button span,
  a#ubc7-global-utility-no-script {
    top: -4px;
    height: 43px;
    margin-right: 19px;
    background-position: -1233px 11px
  }

  #ubc7-global-utility button span.opened {
    background-position: -1167px 11px
  }

  #ubc7-unit {
    height: 60px
  }

  #ubc7-unit .ubc7-single-element a {
    margin-top: 20px
  }

  #ubc7-unit-identifier {
    font-size: 20px
  }

  #ubc7-unit-menu li {
    line-height: 24px
  }

  #ubc7-unit-menu .dropdown .btn-group button {
    height: 22px !important
  }

  #ubc7-unit-menu .dropdown .btn-group:hover button,
  #ubc7-unit-menu .dropdown .btn-group a.btn {
    height: 45px !important;
    line-height: 45px
  }

  #ubc7-unit-menu .nav-collapse .nav>li>a {
    line-height: 25px
  }

  #ubc7-unit-menu .nav-collapse .nav.dropdown-menu>li>a {
    line-height: 20px
  }
}

@media screen and (min--moz-device-pixel-ratio:0) and (min-width:1200px) {
  #ubc7-unit-menu .nav>li>a {
    padding-top: 11px !important
  }
}

@media only screen and (-o-min-device-pixel-ratio:"3/2"),
only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {

  #ubc7-global-utility-no-script,
  #ubc7-global-utility button span,
  #ubc7-logo,
  #ubc7-okanagan-campus,
  #ubc7-signature a,
  #ubc7-vancouver-campus,
  #ubc7-wordmark,
  #ubc7-wordmark-block,
  .ubc7-arrow {
    background-image: url(../../img/clf/ubc7-clf-sprite-blue-2x.png) !important;
    background-size: 1500px !important
  }

  .clf-theme-wg #ubc7-global-utility-no-script,
  .clf-theme-wg #ubc7-global-utility button span,
  .clf-theme-wg #ubc7-logo,
  .clf-theme-wg #ubc7-okanagan-campus,
  .clf-theme-wg #ubc7-signature a,
  .clf-theme-wg #ubc7-vancouver-campus,
  .clf-theme-wg #ubc7-wordmark-block,
  .clf-theme-wg .ubc7-arrow,
  .clf-theme-wb #ubc7-global-utility-no-script,
  .clf-theme-wb #ubc7-global-utility button span,
  .clf-theme-wb #ubc7-logo,
  .clf-theme-wb #ubc7-okanagan-campus,
  .clf-theme-wb #ubc7-signature a,
  .clf-theme-wb #ubc7-vancouver-campus,
  .clf-theme-wb #ubc7-wordmark-block,
  .clf-theme-wb .ubc7-arrow {
    background-image: url(../../img/clf/ubc7-clf-sprite-white-2x.png);
    background-size: 1500px !important
  }

  .clf-theme-gw #ubc7-global-utility-no-script,
  .clf-theme-gw #ubc7-global-utility button span,
  .clf-theme-gw #ubc7-logo,
  .clf-theme-gw #ubc7-okanagan-campus,
  .clf-theme-gw #ubc7-signature a,
  .clf-theme-gw #ubc7-vancouver-campus,
  .clf-theme-gw #ubc7-wordmark-block,
  .clf-theme-gw .ubc7-arrow {
    background-image: url(../../img/clf/ubc7-clf-sprite-grey-2x.png);
    background-size: 1500px !important
  }

}

@media only screen and (-o-min-device-pixel-ratio:"3/2") and (max-width:959px),
only screen and (-webkit-min-device-pixel-ratio:1.5) and (max-width:959px),
only screen and (min--moz-device-pixel-ratio:1.5) and (max-width:959px),
only screen and (min-device-pixel-ratio:1.5) and (max-width:959px) {
  #ubc7-signature a {
    background-position: -2px -435px !important;
    background-size: 1400px !important
  }
}

@media only screen and (-o-min-device-pixel-ratio:"3/2") and (max-width:767px),
only screen and (-webkit-min-device-pixel-ratio:1.5) and (max-width:767px),
only screen and (min--moz-device-pixel-ratio:1.5) and (max-width:767px),
only screen and (min-device-pixel-ratio:1.5) and (max-width:767px) {
  #ubc7-signature a {
    background-position: -2px -544px !important;
    background-size: 1500px !important
  }
}

@media (max-width:360px) {
  #ubc7-unit-identifier {
    font-size: 13px !important;
    line-height: 15px;
    white-space: normal !important
  }
}
