{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="container crumbs" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb expand" role="navigation" aria-labelledby="system-breadcrumb">
    {% for item in breadcrumb %}
      {% if item.url %}
        <li><a href="{{ item.url }}">{{ item.text }}</a>
      {% else %}
        <li class="active">{{ item.text }}
      {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
