/*
-----------------------------------------------------------------------------
This file contains all styles related to the hamburger button component.
-----------------------------------------------------------------------------
*/
/* BUTTONS */
$toggle--background: #fff;
$toggle--color: #002145;
$toggle--shadow-color: #191938;
$toggle--bar-height: 2px;
$toggle--bar-width: 18px;
$toggle--bar-spacing: 3px;


.drawer-toggle--hamburger {
  background-color: $toggle--background;
  box-shadow: 1px 1px 1px $toggle--shadow-color;
  -moz-box-shadow: 1px 1px 1px $toggle--shadow-color;
  -webkit-box-shadow: 1px 1px 1px $toggle--shadow-color;
  float: right;
  height: 24px;
  padding: 11px 0 0 13px;
  width: 32px;
  &:hover {
    box-shadow: 1px 1px 1px $toggle--shadow-color;
    -moz-box-shadow: 1px 1px 1px $toggle--shadow-color;
    -webkit-box-shadow: inset 1px 1px 1px $toggle--shadow-color;
  }
  span {
    margin-top: $toggle--bar-spacing;
    display: block;
    width: $toggle--bar-width;
    height: $toggle--bar-height;
    background-color: $toggle--color;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    &:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 998px) {
  .drawer-toggle--hamburger {
    display: block !important;
    margin-top: 2px;
    margin-right: 13px;
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .drawer-toggle--hamburger {
    margin-top: 5px;
    margin-right: 17px;
    margin-bottom: 5px;
  }
}
