/**
 * @file
 * Overrides some default CLF styles
 */

/** SYSTEM THEME LOCAL **/
ul.menu {
  margin-left: inherit; /* LTR */
}

[dir="rtl"] ul.menu {
  margin-right: inherit;
}

.menu-item--expanded,
.menu-item--collapsed,
[dir="rtl"] .menu-item--collapsed {
  list-style-image: none;
  list-style-type: none;
}

.menu-item {
  padding-top: inherit;
  margin: 0;
}

ul.menu a.is-active {
  color: inherit;
}

.node--unpublished .unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 5em;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.node--unpublished .field__item {
  position: relative;
}

/** CLF FIXES **/
/* Change the 'body' background colour when full width and left-aligned layouts are chosen */
body.full-width,
body.fluid-width {
  background-color: #fff;
}

/* Remove the inset shadoes and text shadows from the unit area */
.make-nice #ubc7-unit {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.make-nice #ubc7-unit-name a,
.make-nice #ubc7-unit-name a:hover {
  text-shadow: none;
}

/* Add some padding to the main content region. */
#unit-content {
  padding-bottom: 2em;
}

/* Undo the forced width of 206px in the CLF. */
input,
textarea,
.uneditable-input {
  width: inherit;
}

#block-userlogin .item-list ul {
  list-style: none;
  margin-left: 0;
}

#block-userlogin .item-list li {
  float: left;
  margin-right: 0.5em;
  font-size: 0.875em;
}

#block-userlogin .item-list li + li {
  float: right;
  margin-right: 0;
}

/* Add in styles for default drupal form classes. */
.form--inline .form-item {
  float: left;
  margin-right: 1em;
}

.form--inline .form-actions {
  clear: both;
}

/* Remove the overly-opinionated CLF footer style */
footer {
  background-color: inherit;
}

/** ALERTS **/
.alert {
  color: #fff;
  padding: 15px 35px 15px 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  border-width: 2px;
  border-radius: 0;
}

.alert a,
.alert h4 {
  color: #fff;
}

a.close {
  position: relative;
  top: -2px;
  right: -21px;
  color: white !important;
  text-decoration: none;
  opacity: 0.4;
  padding: 0;
  cursor: pointer;
  background: transparent;
  float: right;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 1;
}

a.close:hover {
  opacity: 1;
}

.alert h4.alert-heading {
  margin-top: 0;
}

.alert-warning {
  background-color: #ef8843;
  border-color: #d77a3c;
}

.alert-danger,
.alert-error {
  background-color: #b33542;
  border-color: #900f1d;
}

.alert-success,
.alert-status {
  background-color: #95be4f;
  border-color: #73963d;
}

.alert-info {
  background-color: #324d6a;
  border-color: #00162f;
}
